<h1>Welcome to the Movie Tracker App!</h1>
<h3>Please log in or sign up below to access reviews from critics like yourself!</h3>
<br>
<a href="/signup"><h4>Log In Here!</h4></a>
<br>
<a href="/login"><h4>Sign Up Here!</h4></a>