<h1>Welcome to the Movie Tracker App!</h1>
<h4>Please log in or sign up below to access reviews from critics like yourself!</h4>

<a href="/signup"><h5>Log In Here!</h5></a>

<a href="/login"><h5>Sign Up Here!</h5></a>